.nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 12%;
  padding: 10px;
}

.logo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 29px;
  align-items: center;
}

.book-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 3px;
}

.form-section {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-input {
  margin: 10px;
}
